
header {
    background-image: url(../images/headerMedium.jpg);
    background-position: left top;
    padding: 5rem 2% 1.5rem 2%;
}



header h2 {
    font-size: 1.8rem;
}

nav ul {
    padding-left: $gutter;
}

nav li {
    width: auto;
}

nav a {
    padding: .8rem 1rem; 
    font-size: 1.5rem;
}






